@import "style.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: $fontFamily;
    font-size: $fontSize;
    overflow: hidden;

    header {
        z-index: 2;

        position: absolute;
        display: flex;
        justify-content: space-between;
        background-color: $mainColor;

        outline-width: 2px;
        outline-style: solid;
        outline-color: $outlineColor;

        margin: 10px;
        padding: 0px 20px;

        left: 50%;
        transform: translate(-50%);

        border-radius: 30px;

        nav {
            display: flex;

            width: 100%;
            align-items: center;

            justify-content: space-between;

            border-radius: 20px;
            margin: 20px;

            ul {
                display: flex;

                list-style-type: none;

                gap: 35px;
                li {
                    display: inline;
                    margin: 0 10px;

                    a {
                        color: $mostTextColor;
                        text-decoration: none;

                        img {
                            width: 80px;
                        }
                    }

                    .userButton {
                        background-color: $accentColor;
                        color: #999;

                        padding: 5px 10px;

                        border-radius: 15px;

                        &:hover {
                            color: white;
                            background-color: burlywood;
                        }
                    }
                }
            }
        }
    }

    main {
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;

        color: $mostTextColor;
        text-align: center;

        width: 100vw;
        height: 100vh;

        .title {
            z-index: 2;
            margin: 0.5vh 0;
        }

        .interaction {
            margin: 0 10px;

            z-index: 3;
            display: flex;

            background-color: rgba($color: $mainColor, $alpha: 0.5);
            backdrop-filter: blur(3px);

            padding: 20px;

            gap: 5px;

            border-radius: 8px;

            outline-width: 2px;
            outline-style: dashed;
            outline-color: burlywood;

            select,
            input,
            .bookButton {
                // width: 100%;
                margin-bottom: 5px;
            }

            select {
                color: $mostTextColor;
                background-color: $mainColor;

                font-size: $fontSize;
                font-family: $fontFamily;

                padding: 20px 10px;

                border-radius: 8px;
                border: 0;
            }

            input {
                color: $mostTextColor;
                background-color: $mainColor;

                font-size: $fontSize;
                font-family: $fontFamily;

                padding: 19.8px 10px;

                border-radius: 8px;
                border: 0;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }

            .bookButton {
                color: $mostTextColor;
                background-color: $mainColor;

                font-size: $fontSize;
                font-family: $fontFamily;

                padding: 20.8px 10px;

                border-radius: 8px;
                border: 0;

                &:hover {
                    color: white;
                    background-color: burlywood;
                }
            }
        }

        #hotelContainer {
            overflow-x: hidden;
            display: flex;
            flex-direction: row;

            gap: 10px;

            z-index: 2;

            .hotel-card {
                margin-top: 10px;
                background-color: salmon;

                min-width: 10vw;
                // max-width: 20vw;
                min-height: 20vh;
                // max-height: 30vh;

                height: max-content;
                // :last-child {
                //     padding-right: 0;
                // }

                text-align: left;
            }
        }
    }

    #imageBG {
        background: url("https://images.unsplash.com/photo-1693743057688-9bb45200514d?auto=format&fit=crop&q=80&w=2060&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center 40%;
        background-size: 110vmax;
        height: 100%;
        left: 0px;
        opacity: 0.15;
        position: absolute;
        top: 0px;
        transition: opacity 800ms ease, background-size 800ms ease,
            background-position 800ms ease;
        width: 100%;
        z-index: 0;
    }

    @media (max-width: 768px) {
        main {
            .interaction {
                flex-direction: column;
            }

            #hotelContainer {
                flex-direction: column;
            }
        }
    }

    @keyframes sk-rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes sk-bounce {
        0%,
        100% {
            transform: scale(0);
        }
        50% {
            transform: scale(1);
        }
    }

    #loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.99;
        // background: url("loader.gif") 50% 50% no-repeat rgb(249, 249, 249);

        .spinner {
            // margin: 100px auto;
            width: 40px;
            height: 40px;
            position: relative;
            // text-align: center;
            animation: sk-rotate 2s infinite linear;

            .dot1,
            .dot2 {
                width: 60%;
                height: 60%;
                display: inline-block;
                position: absolute;
                top: 0;
                background-color: $mostTextColor;
                border-radius: 100%;
                animation: sk-bounce 2s infinite ease-in-out;
            }

            .dot2 {
                top: auto;
                bottom: 0;
                animation-delay: -1s;
            }
        }
    }
}
