// Handle Theme
$mostTextColor: #d0d0d0;
$mainColor: #2d2d2d;
$accentColor: #fff;
$outlineColor: burlywood;
$userTextColor: #d0d0d0;

// Handle Hover
$hoverTextColor: #fff; // May not be valid anymore
$hoverBackgroundColor: burlywood;

// Handle Font
$fontSize: 20;
$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
